.descriptor_group {
	width: 960px;
	border: 1px solid black;
	border-radius: 10px;
	border-left-style: none;
	border-right-style: none;
	padding: 20px;
	font-size: 25px;
	margin-bottom: 40px;
}

.largeText {
	font-size: 22px;
}
.mediumText {
	font-size: 16px;
}
.tinyText {
	font-size: 12px;
}

.descriptor_group .title {
	font-size: 40px;
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
	cursor: pointer;
}
.descriptor_group div { /* aka row */
	margin-bottom: 15px;
}
.descriptor_group input[type=text] {
	border-style: none;
	border-bottom-style: solid;
	font-size: 22px;
	background-color: transparent;
}
.descriptor_group .checkCircle {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 2px solid black;
	cursor: pointer;
	background-image: none;
}
.descriptor_group .checkCircle[value="1"] {
	background-image: url("../../images/checkmark.png");
	background-size: 47px 50px;
	background-position: 4px 6px;
	background-repeat: no-repeat;
}
.descriptor_group .checkCircle.small {
	width: 40px;
	height: 40px;
	background-size: 32px 34px;
	background-position: 3px 4px;
}
.descriptor_group .checkCircle.sad[value="1"] {
	background-image: url("../../images/sadface.png");
	background-size: 60px;
	background-position: 0px;
}
.descriptor_group .checkCircle.sad.small {
	background-size: 40px;
}

.descriptor_group .col7 {
	display: inline-block;
	width: 130px;
}
.descriptor_group .col6 {
	display: inline-block;
	width: 156px;
}
.descriptor_group .col5 {
	display: inline-block;
	width: 185px;
}
.descriptor_group .col4 {
	display: inline-block;
	width: 230px;
}
.descriptor_group .col3 {
	display: inline-block;
	width: 310px;
}
.descriptor_group .col2 {
	display: inline-block;
	width: 470px;
}
.descriptor_group .col1 {
	display: inline-block;
	width: 955px;
}

.descriptor_group .auto_center {
	display: table;
	margin: 0 auto;
}
.descriptor_group .auto_size {
	width: auto;
}
.descriptor_group .center {
	text-align: center;
}
.descriptor_group .checkCircleContainer {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

#floater {
	width: 150px;
	position: fixed;
	left: 0;
	top: 190px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	overflow: hidden;
}
#floater .dragHandle {
	padding: 3px;
	background-color: gray;
	background-image: url("../../images/dragHandle.png");
	border-radius: 5px;
	cursor: move;
}
#floater .collapseButton {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 3px;
	cursor: pointer;
	padding-left: 5px; /* centers the "+" and "-" text */
	padding-bottom: 5px;
}
#floater .link .dragLink {
	width: 12px;
	height: 12px;
	background-image: url("../../images/dragHandle.png");
	background-size: 5px 30px;
	border-radius: 2px;
	cursor: move;
	margin-right: 5px;
	display: inline-block;
}
#floater .navigate {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
#floater .navigate:hover {
	background-color: lightgray;
}

.descriptor_group .collapsibleHeader {
	display: block;
	cursor: pointer;
	padding-left: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid lightgray;
	background: lightgray;
}
.descriptor_group .collapsibleHeader.collapsed {
	border-radius: 5px;
}
.descriptor_group .collapsibleBody {
	padding-left: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid lightgray;
}

.descriptor_group .closeButton {
	width: 27px;
	height: 27px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background-color: white;
	float: right;
	margin: 2px;
	font-size: 22px;
}
.descriptor_group .closeButton.small {
	width: 20px;
	height: 20px;
	font-size: 16px;
}

.descriptor_group textarea {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
}
.descriptor_group textarea.smallTextarea {
	border-left: none;
	border-top: none;
	border-radius: 0;
	padding: 0;
	margin-bottom: -5px;
}