.descriptor_group {
	width: 960px;
	border: 1px solid black;
	border-radius: 10px;
	border-left-style: none;
	border-right-style: none;
	padding: 20px;
	font-size: 25px;
}

.descriptor_group .title {
	font-size: 40px;
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
}
.descriptor_group div { /* aka row */
	margin-bottom: 15px;
}
.descriptor_group input[type=text] {
	border-style: none;
	border-bottom-style: solid;
	font-size: 22px;
}
.descriptor_group .checkCircle {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 2px solid black;
	cursor: pointer;
	background-image: none;
}
.descriptor_group .checkCircle[value="1"] {
	background-image: url("../../images/checkmark.png");
	background-size: 47px 50px;
	background-position: 4px 6px;
	background-repeat: no-repeat;
}

.descriptor_group .auto_center {
	display: table;
	width: auto;
	margin: 0 auto;
}
.descriptor_group .auto_size {
	width: auto;
}
.descriptor_group .center {
	text-align: center;
}

.descriptor_group .col6 {
	display: inline-block;
	width: 156px;
}
.descriptor_group .col5 {
	display: inline-block;
	width: 185px;
}
.descriptor_group .col4 {
	display: inline-block;
	width: 230px;
}
.descriptor_group .col3 {
	display: inline-block;
	width: 310px;
}
.descriptor_group .col2 {
	display: inline-block;
	width: 470px;
}