.logout_bar {
	width: 100%;
	background-color: #aaa;
	text-align: right;
	padding: 5px 20px;
	position: relative; /* this enables the embedding of absolute-position elements */
}

.logout_label {
	color: #fff;
	font-weight: bold;
}

.username_label {
}

.logout_button {
	color: #e9e9e9;
	font-weight: bold;
	text-decoration: underline;
	cursor:pointer;
}

.logout_button.mouse_hover {
	color: blue;
}

.disclaimer {
	background-color: #777;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 10px;
	padding: 16px;
	cursor: pointer;
}
.disclaimer > div {
	width: 95%;
	margin: 0 auto;
}
.disclaimer a {
	cursor: auto;
}
.disclaimer .long {
	display: none;
}